scope: postgres
namespace: /db/
name: {{ node_name }}

restapi:
  listen: {{ node_ip }}:8008
  connect_address: {{ node_ip }}:8008

etcd:
  hosts: {{ node_ip1 }}:2379,{{ node_ip2 }}:2379,{{ node_ip3 }}:2379

bootstrap:
  dcs:
    ttl: 30
    loop_wait: 10
    retry_timeout: 10
    maximum_lag_on_failover: 1048576

    postgresql:
      bin_dir: /usr/lib/postgresql/17/bin

      use_pg_rewind: true
      use_slots: true

      parameters:
        wal_level: hot_standby
        hot_standby: "on"

        max_connections: 100
        max_worker_processes: 8

        # PostgreSQL 17: use wal_keep_size instead of wal_keep_segments
        wal_keep_size: 128MB

        max_wal_senders: 10
        max_replication_slots: 10
        max_prepared_transactions: 0
        max_locks_per_transaction: 64

        wal_log_hints: "on"
        track_commit_timestamp: "off"

        archive_mode: "on"
        archive_timeout: 1800s

        # IMPORTANT: absolute path
        archive_command: >-
          test ! -f /var/lib/wal_archive/%f &&
          cp %p /var/lib/wal_archive/%f

      recovery_conf:
        # IMPORTANT: absolute path
        restore_command: >-
          cp /var/lib/wal_archive/%f %p

  initdb:
    - auth: scram-sha-256
    - encoding: UTF8
    - data-checksums

  pg_hba:
    - host replication {{ replicator_user }} 127.0.0.1/32 scram-sha-256
    - host replication {{ replicator_user }} {{ node_ip1 }}/32 scram-sha-256
    - host replication {{ replicator_user }} {{ node_ip2 }}/32 scram-sha-256
    - host replication {{ replicator_user }} {{ node_ip3 }}/32 scram-sha-256
    - host all all 0.0.0.0/0 scram-sha-256

  users:
    admin:
      password: "{{ admin_password }}"
      options:
        - createrole
        - createdb
        - superuser

    {{ replicator_user }}:
      password: "{{ replicator_password }}"
      options:
        - replication

postgresql:
  listen: {{ node_ip }}:5432
  connect_address: {{ node_ip }}:5432

  data_dir: /var/lib/patroni/
  pgpass: /tmp/pgpass

  authentication:
    replication:
      username: {{ replicator_user }}
      password: "{{ replicator_password }}"

    superuser:
      username: {{ admin_user }}
      password: "{{ admin_password }}"

  parameters:
    unix_socket_directories: "."
    password_encryption: "scram-sha-256"

tags:
  nofailover: false
  noloadbalance: false
  clonefrom: false
  nosync: false