ETCD_NAME="{{ inventory_hostname }}"
ETCD_DATA_DIR="/var/lib/etcd/default"
ETCD_LISTEN_PEER_URLS="http://{{ ansible_host }}:2380"
ETCD_LISTEN_CLIENT_URLS="http://localhost:2379,http://{{ ansible_host }}:2379"
ETCD_INITIAL_ADVERTISE_PEER_URLS="http://{{ ansible_host }}:2380"
ETCD_INITIAL_CLUSTER="node1=http://{{ node_ip1 }}:2380,node2=http://{{ node_ip2 }}:2380,node3=http://{{ node_ip3 }}:2380"
ETCD_ADVERTISE_CLIENT_URLS="http://{{ ansible_host }}:2379"
ETCD_INITIAL_CLUSTER_TOKEN="etcd-cluster"
ETCD_INITIAL_CLUSTER_STATE="new"

DAEMON_ARGS="--name={{ inventory_hostname }} --data-dir=/var/lib/etcd/default --listen-peer-urls=http://{{ ansible_host }}:2380 --listen-client-urls=http://127.0.0.1:2379,http://{{ ansible_host }}:2379 --initial-advertise-peer-urls=http://{{ ansible_host }}:2380 --initial-cluster=node1=http://{{ node_ip1 }}:2380,node2=http://{{ node_ip2 }}:2380,node3=http://{{ node_ip3 }}:2380 --advertise-client-urls=http://{{ ansible_host }}:2379 --initial-cluster-token=etcd-cluster --initial-cluster-state=new"
